"==========================================
" Author:  frandy
" Version: 0.1
" Email: bycnsky@gmai.com
" De: my ideavim config file
"==========================================

" idea shortcut
"<Cmd-w>  close tab
"<Cmd-Ctrl-[> left select tab
"<Cmd-Ctrl-]> right select tab
"<Cmd-Shift-u> switch letter big or small
"<Cmd-Ctrl-k> select code move up
"<Cmd-Ctrl-j> select code move down
"<Cmd-k> method back
"<Cmd-j> method forward

"<Cmd-e>  open recent file
"<Cmd-Enter> assistant intellect
"<Cmd-[> navigate back
"<Cmd-]> navigate forward
"<Cmd-Ctrl-l> format code
"<Cmd-Ctrl-o> clean import
"<Cmd-n> create file
"<Ctrl-j> select down
"<Ctrl-k> select up
"<Ctrl-o> override method
"<Ctrl-i> implement method

" basic
" set leader key
nnoremap <SPACE> <Nop>
let mapleader = " "
set clipboard+=unnamed
set number
set relativenumber
set showmode
set keep-english-in-normal
" plugins
set surround
set argtextobj
set textobj-entire
set NERDTree
set highlightedyank

" basic key mapping
nnoremap L $
vnoremap H ^
nnoremap H ^
vnoremap L $
nnoremap ; :


""" Idea specific settings ------------------
set ideajoin
set idearefactormode=keep

" NERDTree
nnoremap <leader>e :NERDTreeToggle<CR>


" Insert mode shortcut
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>

" Project Manage
nnoremap <leader>pn  :action NewProject<CR>
nnoremap <leader>pc  :action CloseProject<CR>
nnoremap <leader>pr  :action ManageRecentProjects<CR>
nnoremap <leader>pi  :action ImportProject<CR>

" run and debug
nnoremap ,d :action Debug<CR>
nnoremap ,r :action Run<CR>
nnoremap ,c :action CompileDirty<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,v :action ViewBreakpoints<CR>
nnoremap ,s :action Stop<CR>

" idea action mapping
nnoremap <leader>ga :action GotoAction<CR>
nnoremap <leader>gt :action GotoTest<CR>

nnoremap <leader>re :action RenameElement<CR>
nnoremap <leader>rf :action RenameFile<CR>
nnoremap <leader>sw :action SurroundWith<CR>
nnoremap <leader>fs :action FileStructurePopup<CR>

" Splitting Windows
nmap <leader>\ :vsplit<CR>
nmap <leader>- :split<CR>
nnoremap <leader>ns :action NextSplitter<CR>

" edit vimrc
nnoremap <leader>ve :e ~/.ideavimrc<CR>
nnoremap <leader>vw :w!<CR>
nnoremap <leader>vs :source ~/.ideavimrc<CR>

" refactor

